# Database Configuration
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
DATABASE_URL=
CUSTOMER_PORT=
RECRUITER_PORT=
DB_PORT=
API_PORT=

CV_STORAGE_PATH=./static/cvs

# Backend API Configuration
PROJECT_NAME=Khalti Careers ATS API
SECRET_KEY=
ALGORITHM=
ACCESS_TOKEN_EXPIRE_MINUTES=
GROQ_API_KEY=
BASE_URL=

# Frontend Configuration
VITE_API_URL=
API_URL=
API_INTERNAL_URL=

# Google reCAPTCHA Enterprise Configuration
RECAPTCHA_API_KEY=
RECAPTCHA_PROJECT_ID=
RECAPTCHA_SITE_KEY=
